.section-title {
  max-width: 625px;
  margin: -8px auto 30px;
  text-align: center;
  position: relative;
}
.section-title span {
  text-transform: uppercase;
  color: #cc8c18;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  letter-spacing: 5px;
}
.section-title h2:last-child {
  margin-bottom: 0;
}
.section-title h2 {
  font-size: 35px;
  margin-bottom: 30px;
  position: relative;
  display: block;
}
.single-testimonials:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
.single-testimonials {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  padding: 30px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.single-testimonials h3 {
  margin-bottom: 25px;
}
.single-testimonials h3 {
  margin-bottom: 25px;
}
.single-testimonials .testimonials-content {
  margin-top: 30px;
  position: relative;
  position: relative;
  padding-left: 82px;
}
.single-testimonials .testimonials-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 65px;
  border-left: 1px dashed #cccad7;
  width: 100%;
  height: 100%;
}
.single-testimonials .testimonials-content img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
.single-testimonials .testimonials-content h4 {
  font-size: 18px;
}
.single-testimonials .testimonials-content span {
  font-size: 12px;
}
